In [39]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [48]:
OpenFile = pd.read_csv('Dataset of Diabetes .csv')
FirstTen = OpenFile.head(10)
print(FirstTen)

    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4
5  634      34224      F   45   2.3  24    4.0   2.9  1.0  1.0  1.5   0.4
6  721      34225      F   50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6
7  421      34227      M   48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4
8  670      34229      M   43   2.6  67    4.0   3.8  0.9  2.4  3.7   1.0
9  759      34230      F   32   3.6  28    4.0   3.8  2.0  2.4  3.8   1.0

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N
5  21.0     N
6  24.0     N
7  24.0     N
8  21.0     N
9  24.0     N

In [49]:
# Check categories in Gender and Class
count_gender = OpenFile.groupby('Gender').size().reset_index(name='count')
count_class = OpenFile.groupby('CLASS').size().reset_index(name='count')

print(count_gender)
print(count_class)

  Gender  count
0      F    434
1      M    565
2      f      1
  CLASS  count
0     N    102
1    N       1
2     P     53
3     Y    840
4    Y       4

In [50]:
# Replace va
OpenFile['Gender'] = OpenFile['Gender'].replace('f', 'F')
OpenFile['CLASS'] = OpenFile['CLASS'].replace('N ', 'N')
OpenFile['CLASS'] = OpenFile['CLASS'].replace('Y ', 'Y')

In [51]:
# Check items in Gender and Smove
count_gender = OpenFile.groupby('Gender').size().reset_index(name='count')
count_class = OpenFile.groupby('CLASS').size().reset_index(name='count')

print(count_gender)
print(count_class)

  Gender  count
0      F    435
1      M    565
  CLASS  count
0     N    103
1     P     53
2     Y    844

In [52]:
# Check empty cells
CheckNull = OpenFile.isnull().sum()
print(CheckNull)

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [53]:
gender_dummies = pd.get_dummies(OpenFile['Gender'])
gender_dummies = gender_dummies.astype(int)

OpenFile = pd.concat([gender_dummies, OpenFile], axis=1)
OpenFile = pd.concat([class_dummies, OpenFile], axis=1)

label_encoder = LabelEncoder()
OpenFile['Gender'] = label_encoder.fit_transform(OpenFile['Gender'])

OpenFile.drop(columns=['Gender'], inplace=True)

In [54]:
OpenFile

,N,P,Y,F,M,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,1,0,0,1,0,502,17975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,1,0,0,0,1,735,34221,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,1,0,0,1,0,420,47975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,1,0,0,1,0,680,87656,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,1,0,0,0,1,504,34223,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,0,1,200,454317,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,0,0,1,0,1,671,876534,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,0,0,1,0,1,669,87654,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,0,0,1,0,1,99,24004,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,0,0,1,0,1,248,24054,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [55]:
label_encoder = LabelEncoder()
OpenFile['CLASS'] = label_encoder.fit_transform(OpenFile['CLASS'])
OpenFile

,N,P,Y,F,M,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,1,0,0,1,0,502,17975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,1,0,0,0,1,735,34221,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,1,0,0,1,0,420,47975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,1,0,0,1,0,680,87656,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,1,0,0,0,1,504,34223,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,1,0,1,200,454317,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,2
996,0,0,1,0,1,671,876534,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,2
997,0,0,1,0,1,669,87654,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,2
998,0,0,1,0,1,99,24004,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,2
999,0,0,1,0,1,248,24054,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,2